---
import { site, socials } from "@/contsts";
import Layout from "../layouts/Layout.astro";
import StackCard from "@/components/StackCard.astro";
import StarBackground from "@/components/StarBackground.astro";
import ColorChangeButtons from "@/components/ColorChangeButtons.astro";
import Link from "@/ui/Link.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@/components/ProjectCard.astro";
import WorkCard from "@/components/WorkCard.astro";

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .filter((p) => p.data.featured)
  .slice(0, 3);

const works = (await getCollection("work"))
  .sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime())
  .filter((p) => p.data.featured)
  .slice(0, 3);

const stack = [
  {
    text: "Next.js",
    icon: "next-js",
    href: "https://nextjs.org",
  },
  {
    text: "React",
    icon: "react",
    href: "https://react.dev",
  },
  {
    text: "Astro",
    icon: "astro",
    href: "https://astro.build",
  },
  {
    text: "Javascript",
    icon: "javascript",
    href: "https://www.javascript.com",
  },
  {
    text: "Typescript",
    icon: "typescript",
    href: "https://www.typescriptlang.org",
  },
  {
    text: "Tailwind",
    icon: "tailwind",
    href: "https://tailwindcss.com",
  },
];
---

<Layout title='Jan Bulling' description={site.description}>
  <StarBackground />

  <!-- Hero -->
  <section class='h-screen w-full relative'>
    <div class='absolute inset-0 top-1/3 overflow-hidden'>
      <div
        class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-primary from-0% to-transparent to-5%'
      >
        <div
          class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'
        >
          <div
            class='w-full h-20 rounded-full bg-primary dark:bg-primary blur-3xl'
          >
          </div>
        </div>
      </div>
    </div>
    <div class='absolute inset-0 top-1/4'>
      <div class='h-full flex flex-col items-center justify-center'>
        <!-- <img
          src='/avatar.png'
          alt=''
          class='rounded-full w-[110px] sm:w-[140px] mb-8 sm:mb-0 border-2 border-primary'
        /> -->
        <div class='p-5 text-center'>
          <p
            class='text-lg md:text-xl lg:text-2xl font-semibold opacity-75 text-black dark:text-white'
          >
            Hello, I am ...
          </p>
          <h1
            class='text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-primary'
          >
            Jan Bulling
          </h1>
          <p class='text-sm md:text-base lg:text-lg opacity-75'>
            Software developer and theoretical physicist
          </p>
        </div>
        <ColorChangeButtons />
      </div>
    </div>
  </section>

  <div class='relative bg-white dark:bg-black'>
    <!-- Short about Section -->
    <section class='mx-auto max-w-screen-sm p-5 pb-16 space-y-3 w-full'>
      <p>
        I am a <b><i>software engineer</i></b>, <b><i>ui/ux designer</i></b>, <b
          ><i>master student of theoretical physics</i></b
        > and <b><i>formation dancer</i></b>
      </p>
      <p>
        I am currently studying physics in Ulm (Germany) and Uppsala (Sweden)
        and plan to graduate in 2027.
      </p>
      <p>
        In my spare time I like to work on some side projects and especially
        enjoy developing and designing web applications!
      </p>
    </section>

    <!-- Tech Stack Section -->
    <section class='mx-auto max-w-screen-sm p-5 pb-16 w-full'>
      <h2 class='font-semibold text-black dark:text-white'>I work with</h2>
      <div class='flex flex-wrap items-center gap-2 mt-2'>
        {
          stack.map((item) => (
            <StackCard text={item.text} icon={item.icon} href={item.href} />
          ))
        }
      </div>
    </section>

    <!-- Work experience -->
    <section class='mx-auto max-w-screen-sm p-5 pb-16 space-y-2 w-full'>
      <h2 class='font-semibold text-black dark:text-white'>Work experience</h2>
      <ul class='space-y-4'>
        {
          works.map((work: any) => (
            <li>
              <WorkCard entry={work} />
            </li>
          ))
        }
      </ul>
    </section>

    <!-- Tech Stack Section -->
    <section class='mx-auto max-w-screen-sm p-5 pb-16 space-y-2 w-full'>
      <h2 class='font-semibold text-black dark:text-white'>
        Some of my projects
      </h2>
      <ul class='space-y-4'>
        {
          projects.map((project: any) => (
            <li>
              <ProjectCard entry={project} />
            </li>
          ))
        }
      </ul>
    </section>

    <!-- Connect section -->
    <section class='mx-auto max-w-screen-sm p-5 pb-16 w-full'>
      <h2 class='font-semibold text-primary'>Let's connect!</h2>
      <p class='text-primary opacity-75'>
        Reach out to me via email or on social media.
      </p>
      <div class='grid grid-cols-4 gap-y-2 mt-4 auto-cols-min'>
        {
          socials.map((social) => (
            <>
              <div class='col-span-1'>
                <span class='whitespace-nowrap truncate'>{social.name}</span>
              </div>
              <div class='col-span-3 truncate'>
                <Link href={social.href} variant='underline' external>
                  {social.text}
                </Link>
              </div>
            </>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
